* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    height: 600px;
    width: 330px;
}

.clock {
    top: 0;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock.png),
        radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, rgba(9, 25, 33, 1) 38%);
    background-size: cover;
    /* border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35),
    inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35),
    inset 0 15px 15px #191919
    ; */
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.date {
    color: #ffc600;
    font-size: 20px;
}

.calendar .table {
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.calendar .table .row {
    display: flex;
    flex-direction: row;
}

.calendar .table .row .col {
    margin: 3px 6px;
    padding: 0 4px 4px 4px;
    /* padding: 0 4px 3px 2px; */
    border: 1px solid transparent;
    width: 32px;
    text-align: center;
}

.calendar .holiday, .calendar .day-name {
    color: #ffc600;
}

.calendar .active {
    border: 1px solid rgba(255, 198, 0, 0.4) !important;
    background-color: rgba(255, 198, 0, 0.1);
    border-radius: 35%;
}